{% extends "store/base.html" %}

{% load static %}
{% block title %}Verify{% endblock title %}

{% block content %}

<style>
    body {
        background-color: grey;
    }
</style>

<body>
    
    <div class="text-center">
        
        <br>
        <div class="container dashboard-card shadow-md p-5 form-layout">
            <i class="fa fa-envelope fa-3x"></i>
            <br>
            <br>
            <h4>An email verification link has been sent to your email</h4>
            <hr>
            <p>Please check your email & click on the link to verify your email address</p>
    
    
    
        </div>
    <br>
    </div>
    
</body>

{% endblock content %}