
{% extends "store/base.html" %}

{% load static %}
{% block title %}Failure{% endblock title %}

{% block content %}

<style>
    body {
        background-color: grey;
    }
</style>

<body>

    <div class="text-center">
        
        <br>
        <div class="container dashboard-card shadow-md p-5 form-layout">
            <i class="fa fa-times fa-3x text-danger"></i>
            <br>
            <br>
            <h4>Your account verification failed</h4>
            <hr>
            <p>Please contact webmaster</p>
    
    
    
        </div>
    <br>
    </div>
   
</body>

{% endblock content %}