
{% extends "store/base.html" %}

{% load static %}
{% block title %}Payment Failed{% endblock title %}

{% block content %}

<style>
    body {
        background-color: grey;
    }
</style>

<body>
    

    <div class="text-center">
        
        <br>
        <div class="container dashboard-card shadow-md p-5 form-layout">
            <i class="fa fa-times fa-4x text-danger" aria-hidden="true"></i>
            <br>
            <br>
            <h4>Your payment was not completed sucessfully</h4>
            <hr>
            <br>
    
    
    
        </div>
    <br>
    </div>
   
</body>

{% endblock content %}